table {
    width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
}

#logout {
   float: right;
}

#header {
    display: block;
    border-bottom: 2px solid red;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

#search-image {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    right: 20px;
}

div.profile {
    margin-left: auto;
    vertical-align: top;
    text-align: center;
    width: 120px;
}

div.profile-page {
    margin: auto;
    vertical-align: top;
    text-align: center;
}

div.version-checks {
    margin: auto;
    vertical-align: top;
    text-align: center;
}

#login {
    text-align: center;
    top: 10%;
    left: 43%;
    position: fixed;
}

#register {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 43%;
}

#error {
    color: red;
    positon: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
