table {
    width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
    height: 1px;
    display: block;
    height: 65vh;
}

td {
    width: 13.6%;
}

#region-td {
    width: 31.6%
}

th, td {
    border: 1px solid;
}

th {
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    background-color: white;
    border-bottom: 1px solid black;
}

#logout {
   float: right;
}

#header {
    display: block;
    border-bottom: 2px solid red;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

#search-image {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    right: 20px;
}

div.profile {
    margin-left: auto;
    vertical-align: top;
    text-align: center;
    width: 120px;
    position: sticky;
}

div.profile-page {
    margin: auto;
    vertical-align: top;
    text-align: center;
}

div.version-checks {
    margin: auto;
    vertical-align: top;
    text-align: center;
}

#login {
    text-align: center;
    top: 10%;
    left: 43%;
    position: fixed;
}

#register {
    text-align: center;
    position: fixed;
    top: 10%;
    left: 43%;
}

#error {
    color: red;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

#about {
    justify-content: right;
}

#About-div {
    text-align: center;
    position: fixed;
    justify-content: center;
}

#tablerows {
    position: relative;
    width: 100%;
}
